# test
.vscode
env
*.env
.DS_Store
*.egg-info/
wespoulsen-artifacts*
dist/
settings.py
rsa_id
bpenv/
.pytest_cache
__pycache__
testenv
sample.txt
emailenv
classenv
sample.txt
.idea
.env
old_requirements.txt
load.py

# ignore all csv files
*.csv
*.xlsx
# ignore test files
runner.py
demo/
*.parquet

Upload_Test/

Upload_Test/

.cache/ 
.local/

# ignore all .env files 
.env.*
# ignore google credentials
client_secret.json
token.json
