## Redshift and Postgres
SQLAlchemy
# SQLAlchemy==2.0.0
psycopg2-binary
## Snowflake
requests==2.28.0
pandas==1.5.3
# snowflake-sqlalchemy==1.4.4 # NOTE may need to revisit this 
snowflake-sqlalchemy
dask==2022.2.0
snowflake-connector-python[pandas]
## AWS 
boto3==1.26.59
## MySql
mysql-connector-python==8.0.21

## Google Big Query
google-cloud-bigquery==3.4.0
db-dtypes==1.0.4

## Azure Blob Storage
azure-storage-blob==12.3.2

## Google Cloud Storage
httplib2==0.15.0
google-cloud-storage==2.7.0

## SFTP
paramiko==2.11.0

## Box
boxsdk[jwt]==2.9.0

## Google Drive
google-api-python-client>=2.7
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0