[tool.poetry]
name = "shipyard-tableau"
version = "0.1.0"
description = "A local client for connecting and working with Tableau"
authors = ["wrp801 <wespoulsen@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
packages = [{include = "shipyard_tableau"}]

[tool.poetry.dependencies]
python = ">3.7,<3.10"
requests = "2.31.0"
tableauserverclient="0.19.0"
shipyard_utils="0.1.2"
shipyard-templates="0.5.0a0"

[tool.poetry.group.dev.dependencies]
#shipyard-bp-utils = {path = "../shipyard-bp-utils"}
#shipyard-templates = {path = "../../shipyard-templates"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
