[tool.poetry]
name = "shipyard-s3"
version = "0.1.2a0"
description = "A local client for connecting and working with AWS S3"
authors = ["wrp801 <wespoulsen@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
packages = [{include = "shipyard_s3"}]

[tool.poetry.dependencies]
python = "^3.9"
boto3 = "1.26"
shipyard-templates = "0.4.3"
shipyard-utils = "^0.1.4"

[tool.poetry.group.dev.dependencies]
shipyard-bp-utils = {path = "../shipyard-bp-utils", develop = true}
pytest = "^7.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
