[tool.poetry]
name = "shipyard-snowflake"
version = "0.1.1a5"
description = "A local client for conecting and working with Snowflake"
authors = ["wrp801 <wespoulsen@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
packages = [{include = "shipyard_snowflake"}]

[tool.poetry.dependencies]
python = "^3.9"
pandas = "1.5.3"
dask = "2022.2.0"
psutil = "^5.9.5"
snowflake-connector-python = {version = "^3.0.4", extras = ["pandas"]}
shipyard-bp-utils = "^0.1.0"
shipyard-templates = "0.2.0"
[tool.poetry.group.dev.dependencies]
shipyard-bp-utils = {path = "../shipyard-bp-utils", develop = true}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
