[tool.poetry]
name = "shipyard-sqlserver"
version = "0.1.0"
description = "A local client for connecting and working with Sql Server Databases"
authors = ["wrp801 <wespoulsen@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
packages = [{include = "shipyard_sqlserver"}]

[tool.poetry.dependencies]
python = ">=3.9,<3.10"
SQLAlchemy = "1.3.18"
pandas = "1.3.5"
shipyard-templates = "0.5.0a0"
#pymssql = "2.1.4"
pyodbc = "^5.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
