[tool.poetry]
name = "shipyard-postgresql"
version = "0.1.0"
description = "A local client for connecting and working with Postgresql Databases"
authors = ["wrp801 <wespoulsen@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
packages = [{include = "shipyard_postgresql"}]

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
SQLAlchemy = "2.0.0"
pandas = "1.5.3"
psycopg2-binary = "^2.9.6"
shipyard-templates = "0.5.0a0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
