[tool.poetry]
name = "shipyard-postgresql"
version = "0.2.0a1"
description = "A local client for connecting and working with Postgresql Databases"
authors = ["wrp801 <wespoulsen@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
packages = [{include = "shipyard_postgresql"}]

[tool.poetry.dependencies]
python = "^3.9"
SQLAlchemy = "2.0.0"
pandas = "^2.0"
psycopg2-binary = "^2.9.9"
shipyard-templates = "0.8.0a0"
shipyard-bp-utils = "^1.2"

[tool.poetry.group.dev.dependencies]
black = "^24.2.0"
python-dotenv = "^1.0.1"
pytest = "^8.0.2"

[tool.pytest.ini_options]
testpaths = [
    "tests"
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
